# Innisfil Groceries Survey

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('apr17_survey.csv', encoding = 'UTF-8')

In [3]:
df.head()

,Timestamp,Where in Innisfil do you live?,What grocery store do you visit most?,"Have you ever ordered food or groceries online? (Excluding things like prepared food from restaurants, pizza, etc.)",Would you ever order groceries online?,"If you did, would you want it picked up or delivered?",How much would you pay for delivery?,How often do you visit the Innisfil Farmers Market?,Do you ever visit farmers in our area (in Innisfil or adjacent) directly to purchase food?,"On a scale of 1 - 5, how important is it to you to shop local?",Can you describe if and how COVID-19 has impacted your food purchases?,"Please let us know any of your thoughts, feelings, or frustrations around buying or selling groceries in the Innisfil area.","If you wish to be contacted to set up a 15 minute phone call to discuss these issues further, please leave us your email."
0,4/14/2020 18:43:01,Cookstown,Cookstown Foodland,No,Yes,Delivery,5-10,A few times a year,"Yes, Stonehorse and Sheldon Creek",5.0,"More canned goods, potato chips",NaN,NaN
1,4/14/2020 18:47:06,Cookstown,Walmart,No,Maybe,Pick Up,$10,Almost never,Sometimes!,5.0,Shopping at Foodland!,Can be expensive at smaller stores,NaN
2,4/14/2020 18:47:17,Cookstown,Foodland Cookstown,Yes,Yes,Delivery,$10,Approximately once a month,Yes,5.0,Not happy with lack of local food available,NaN,NaN
3,4/14/2020 19:01:45,Alcona,Sobey's Alcona,No,Yes,Pick Up,$20,Almost never,"I have in the past for eggs, but on rare occasion",4.0,Purchasing on a budget and visiting one shop i...,No health food stores such as Farm Boy or Good...,ampower97@gmail.com
4,4/14/2020 19:04:00,Cookstown,Cookstown Foodland,Yes,No,Pick Up,NaN,Approximately once a month,Yes,5.0,Only shopping once every week and a half since...,NaN,NaN

In [4]:
col_names = ['date', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'email']

df.columns = col_names

In [5]:
df.head()

,date,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,email
0,4/14/2020 18:43:01,Cookstown,Cookstown Foodland,No,Yes,Delivery,5-10,A few times a year,"Yes, Stonehorse and Sheldon Creek",5.0,"More canned goods, potato chips",NaN,NaN
1,4/14/2020 18:47:06,Cookstown,Walmart,No,Maybe,Pick Up,$10,Almost never,Sometimes!,5.0,Shopping at Foodland!,Can be expensive at smaller stores,NaN
2,4/14/2020 18:47:17,Cookstown,Foodland Cookstown,Yes,Yes,Delivery,$10,Approximately once a month,Yes,5.0,Not happy with lack of local food available,NaN,NaN
3,4/14/2020 19:01:45,Alcona,Sobey's Alcona,No,Yes,Pick Up,$20,Almost never,"I have in the past for eggs, but on rare occasion",4.0,Purchasing on a budget and visiting one shop i...,No health food stores such as Farm Boy or Good...,ampower97@gmail.com
4,4/14/2020 19:04:00,Cookstown,Cookstown Foodland,Yes,No,Pick Up,NaN,Approximately once a month,Yes,5.0,Only shopping once every week and a half since...,NaN,NaN

In [6]:
df.duplicated().sum()

0

In [7]:
df.isna().sum()

date      0
Q1        2
Q2        3
Q3        2
Q4        2
Q5        4
Q6       11
Q7        3
Q8        4
Q9        2
Q10       2
Q11      30
email    66
dtype: int64

In [8]:
df = df.dropna(subset = ['Q1'])

In [9]:
df.isna().sum()

date      0
Q1        0
Q2        1
Q3        0
Q4        0
Q5        2
Q6        9
Q7        1
Q8        2
Q9        0
Q10       2
Q11      29
email    64
dtype: int64

### Question 1

In [10]:
df['Q1'].unique()

array(['Cookstown', 'Alcona', 'Cookstown, Essa Township',
       'Essa township Egbert', 'Rural', 'Thornton',
       'East end of Alliston', 'Belle ewart',
       'Essa twp 5mins from Cookstown', 'Churchill'], dtype=object)

In [11]:
mask_Essa = df['Q1'].str.match('.*[Ee]ssa.*')
mask_Alliston = df['Q1'].str.match('.*[Aa]lliston.*')
mask_Belle = df['Q1'].str.match('.*[Bb]elle [Ee]wart.*')

df.loc[mask_Essa, 'Q1'] = 'Essa'
df.loc[mask_Alliston, 'Q1'] = 'Alliston'
df.loc[mask_Belle, 'Q1'] = 'Belle Ewart'

df['Q1'].value_counts()

Cookstown      67
Alcona          8
Essa            3
Belle Ewart     1
Churchill       1
Alliston        1
Rural           1
Thornton        1
Name: Q1, dtype: int64

In [12]:
mask_other = df['Q1'] == 'Cookstown'

df.loc[~mask_other, 'Q1'] = 'Other'

df['Q1'].value_counts()

Cookstown    67
Other        16
Name: Q1, dtype: int64

### Question 2

In [13]:
df['Q2'].unique()

array(['Cookstown Foodland', 'Walmart', 'Foodland Cookstown ',
       "Sobey's Alcona", 'Cookstown Foodland ', 'Costco ',
       'Foodland in COOKSTOWN ', 'Zehrs, Walmart, Foodland', 'Sobeys',
       'Cookstown Foodland & Alcona No Frills', 'Walmart, Barrie South',
       'Foodland', 'Walmart, Foodland, Zerhs and farmers markets',
       'Zerhs.', 'Foodland Cookstown', 'Foodland ', 'Foodland cookstown',
       'No Frills ', 'Zehrs', 'Walmart and foodland ', 'No Frills',
       'Walmart Barrie ', 'Foodland Walmart alliston',
       'Wallmart or local', 'Costco and Sobeys', 'foodland, wallmart',
       'Food Basics', 'Zehrs in Alliston or Foodland Cookstown',
       'Costco, Zehrs, Foodland ', 'Costco', 'Food basics, foodland',
       'Zehrs Barrie', 'Zehrs and Walmart alliston ', 'Alliston Walmart ',
       'Zhers', 'Food basics ', 'Zehrs, Foodland', nan,
       'Foodland - Cookstown', "Sobey's/No Frills", 'Foodland, Cookstown',
       'Sobeys ', 'no frills', 'Sobey’s', 'No Frills & Costco',
       'Johns no frills', 'Zehrs ', 'No frills- Alcona '], dtype=object)

In [14]:
mask_Cookstown = df['Q1'] == 'Cookstown'

df.loc[mask_Cookstown, 'Q2'].value_counts()

Foodland                                        12
Walmart                                          8
Zehrs                                            4
Foodland Cookstown                               3
No Frills                                        3
Costco                                           2
Foodland - Cookstown                             2
Foodland                                         2
Cookstown Foodland                               2
Costco                                           2
Foodland Cookstown                               2
Foodland cookstown                               1
Zehrs and Walmart alliston                       1
Wallmart or local                                1
foodland, wallmart                               1
Alliston Walmart                                 1
Cookstown Foodland & Alcona No Frills            1
Foodland, Cookstown                              1
Zehrs, Foodland                                  1
Zehrs in Alliston or Foodland Cookstown          1
Zehrs                                            1
Walmart Barrie                                   1
Foodland in COOKSTOWN                            1
Zhers                                            1
No Frills                                        1
Walmart, Barrie South                            1
Food basics, foodland                            1
Costco, Zehrs, Foodland                          1
Walmart and foodland                             1
Food Basics                                      1
Zehrs Barrie                                     1
Cookstown Foodland                               1
Zerhs.                                           1
Food basics                                      1
Walmart, Foodland, Zerhs and farmers markets     1
Name: Q2, dtype: int64

In [15]:
df['Q2'] = df['Q2'].fillna('Foodland')

In [16]:
mask_Zehrs = df['Q2'].str.match('.*[Zzehrs\']{4,5}.*')
mask_Frills = df['Q2'].str.match('.*[Nno Ffrils]{9}.*')
mask_Costco = df['Q2'].str.match('.*[Ccost]{6}.*')
mask_Foodland = df['Q2'].str.match('.*[FfoodlandL ]{8,9}.*')
mask_Walmart = df['Q2'].str.match('.*[Wwalmrt]{7,8}.*')
mask_Sobeys = df['Q2'].str.match('.*[Ssobe\'y’]{6,7}.*')
mask_Basic = df['Q2'].str.match('.*[Ffod Bbasics]{10,11}.*')

df['Zehrs'] = 0
df.loc[mask_Zehrs, 'Zehrs'] = 1

df['Frills'] = 0
df.loc[mask_Frills, 'Frills'] = 1

df['Costco'] = 0
df.loc[mask_Costco, 'Costco'] = 1

df['Foodland'] = 0
df.loc[mask_Foodland, 'Foodland'] = 1

df['Walmart'] = 0
df.loc[mask_Walmart, 'Walmart'] = 1

df['Sobeys'] = 0
df.loc[mask_Sobeys, 'Sobeys'] = 1

df['Basic'] = 0
df.loc[mask_Basic, 'Basic'] = 1

df.head()

,date,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,email,Zehrs,Frills,Costco,Foodland,Walmart,Sobeys,Basic
0,4/14/2020 18:43:01,Cookstown,Cookstown Foodland,No,Yes,Delivery,5-10,A few times a year,"Yes, Stonehorse and Sheldon Creek",5.0,"More canned goods, potato chips",NaN,NaN,0,0,0,1,0,0,0
1,4/14/2020 18:47:06,Cookstown,Walmart,No,Maybe,Pick Up,$10,Almost never,Sometimes!,5.0,Shopping at Foodland!,Can be expensive at smaller stores,NaN,0,0,0,0,1,0,0
2,4/14/2020 18:47:17,Cookstown,Foodland Cookstown,Yes,Yes,Delivery,$10,Approximately once a month,Yes,5.0,Not happy with lack of local food available,NaN,NaN,0,0,0,1,0,0,0
3,4/14/2020 19:01:45,Other,Sobey's Alcona,No,Yes,Pick Up,$20,Almost never,"I have in the past for eggs, but on rare occasion",4.0,Purchasing on a budget and visiting one shop i...,No health food stores such as Farm Boy or Good...,ampower97@gmail.com,0,0,0,0,0,1,0
4,4/14/2020 19:04:00,Cookstown,Cookstown Foodland,Yes,No,Pick Up,NaN,Approximately once a month,Yes,5.0,Only shopping once every week and a half since...,NaN,NaN,0,0,0,1,0,0,0

In [17]:
df.loc[:, 'Zehrs':].sum()

Zehrs       15
Frills      11
Costco       7
Foodland    39
Walmart     18
Sobeys       8
Basic        3
dtype: int64

### Question 3

In [18]:
df['Q3'].unique()

array(['No', 'Yes'], dtype=object)

### Question 4

In [19]:
df['Q4'].unique()

array(['Yes', 'Maybe', 'No'], dtype=object)

### Question 5

In [20]:
df['Q5'].unique()

array(['Delivery', 'Pick Up', nan], dtype=object)

In [21]:
df['Q5'].value_counts()

Pick Up     48
Delivery    33
Name: Q5, dtype: int64

In [22]:
df['Q5'] = df['Q5'].fillna('Pick Up')

### Question 6

In [23]:
df['Q6'].unique()

array(['5-10 ', '$10', '$20', nan, '0', 'Depends',
       '$10 or less. I would not mind pick up after covid19',
       'Up to $15.00', '$5', 'Would prefer free but up to $10.00',
       'uncertain but am willing to pay', '10$',
       'Nothing!  All other delivery services are free', '5', '$10.00',
       'Free', 'Not sure', 'Depending on how far away the business is',
       'We pick up', 'Nothing', '$5.00', '$15',
       'Not sure depending on the size of the order. ', '$7',
       'I would pick up  - max for delivery $10-$12', '10', '5$', '$5-$7',
       "minimal, it's not something of great value to me",
       'Very little because I can get pickup for free.',
       'Depends on how much the order is', '$5  - $10',
       'Included in pricing', '$10-$15', '$10.00 max', '$30',
       'between $3-5', '$5-10', '$10 max', 'Under $5'], dtype=object)

In [24]:
df['Q6'] = df['Q6'].fillna('5')

df.loc[df['Q6'].str.match('.*\$?5\$?.*'), 'Q6']

mask_0 = df['Q6'].str.match('^\s*\$?0\$?\s*$')
mask_0_2 = df['Q6'].str.match('No.*')
mask_0_3 = df['Q6'].str.match('Free')
mask_0_4 = df['Q6'].str.match('.*[Pp]ick up.*')
df.loc[mask_0 | mask_0_2 | mask_0_3 | mask_0_4, 'Q6'] = '0'

mask_5 = df['Q6'].str.match('^\s*\$?[1-5](.00)?\$?\s*$')
mask_5_2 = df['Q6'].str.match('.*\D*5(.00)?\$?\s*')
mask_5_3 = df['Q6'].str.match('Depend.*')
df.loc[mask_5 | mask_5_2 | mask_5_3, 'Q6'] = '1'

mask_10 = df['Q6'].str.match('^\s*\$?10(.00)?\$?\s*$')
mask_10_2 = df['Q6'].str.match('.*[6-9].*')
mask_10_3 = df['Q6'].str.match('\D*10(.00)?\D*')
df.loc[mask_10 | mask_10_2 | mask_10_3, 'Q6'] = '2'

mask_high = df['Q6'].str.match('^\$(20)?(30)?$')
df.loc[mask_high, 'Q6'] = '3'

mask_final = df['Q6'].str.match('.*[A-z].*')
df.loc[mask_final, 'Q6'] = '1'

df['Q6'] = df['Q6'].astype('int')
df['Q6'].value_counts()

1    43
2    22
0    14
3     4
Name: Q6, dtype: int64

### Question 7

In [25]:
df['Q7'].unique()

array(['A few times a year', 'Almost never', 'Approximately once a month',
       'Approximately once a week', 'More than once a week', nan],
      dtype=object)

In [26]:
df['Q7'].value_counts()

Almost never                  43
A few times a year            25
Approximately once a month     9
Approximately once a week      3
More than once a week          2
Name: Q7, dtype: int64

In [27]:
df['Q7'] = df['Q7'].fillna('Almost never')

### Question 8

In [28]:
df['Q8'].unique()

array(['Yes, Stonehorse and Sheldon Creek', 'Sometimes!', 'Yes',
       'I have in the past for eggs, but on rare occasion',
       'Yes - hours aren’t great if working ',
       'Yes, in Thornton. Much closer for me.', 'No',
       'I just did last weekend ',
       'No, but did visit the Thornton market',
       'Yes the one in Thornton and drive directly to farms for special items',
       'No ', 'yes', 'Not really',
       'Yes corn on the cob season, Asparagus season ', nan,
       'Not as of yet but will', 'Corn...etc ', 'Yes for eggs',
       'Bradford ', 'No...but I think I might start',
       'No, I didn’t know I could! ', 'No.', 'Seldom', 'Very rarely ',
       'No but would love to', 'Didn’t know I could', 'a few times',
       'Yes, Barrie', 'Yes ', 'Occasionally ',
       'Yes if we come across one during our errands.',
       'A friend that raises chickens and local farmers for eggs',
       'yes, local farms for eggs', 'Yes - to buy eggs, garlic',
       'No (however I plan to visit farmers market in future)',
       'Sometimes', 'no - never sure if they take debit/credit',
       'Yes! Mostly Edward’s Farm. ', 'The odd time ',
       'Yes closer to Cookstown'], dtype=object)

In [29]:
df['Q8'] = df['Q8'].fillna('Yes')

In [30]:
mask_Yes = df['Q8'].str.match('.*[Yyes].*')
mask_Yes2 = df['Q8'].str.match('.*Bradford.*')
df.loc[(mask_Yes | mask_Yes2), 'Q8'] = 'Yes'

mask_No = df['Q8'].str.match('^[Nno]{2}.*')
mask_No2 = df['Q8'].str.match('.*\Wno\W.*')
mask_No3 = ~(mask_Yes | mask_Yes2 | mask_No | mask_No2)
df.loc[(mask_No | mask_No2 | mask_No3), 'Q8'] = 'No'

In [31]:
df['Q8'].value_counts()

Yes    67
No     16
Name: Q8, dtype: int64

### Question 9

In [32]:
df['Q9'].unique()

array([5., 4., 3., 2., 1.])

In [36]:
df['Q9'] = df['Q9'].astype('int')

df['Q9'].value_counts()

5    44
4    28
3     7
2     3
1     1
Name: Q9, dtype: int64

### Question 10

In [33]:
df['Q10'] = df['Q10'].fillna('NR')

### Question 11

In [34]:
df['Q11'] = df['Q11'].fillna('NR')

In [38]:
df.to_csv('survey_clean.csv', index = False, encoding = 'UTF-8')